<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699683748033-civoiu2omfnl5sqbt135ue94vcmotn73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699683748033-civoiu2omfnl5sqbt135ue94vcmotn73</string>
	<key>API_KEY</key>
	<string>AIzaSyAawpLlItuH-uETS58f1qA2BYQ0Uy4au7g</string>
	<key>GCM_SENDER_ID</key>
	<string>699683748033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cesar.Login</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-c3671</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-c3671.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699683748033:ios:4900100d9b3ed0115abc40</string>
</dict>
</plist>